<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ReportsApplication1.Properties.Settings.benvaxu149_dbConnectionString"
      connectionString="server=vanden-dries.be;user id=benvaxu149_db;password=Hojbes1995+;persistsecurityinfo=True;database=benvaxu149_db"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>