@{
    ViewBag.Title = "Toneelvereniging HOJAPA";
}

<br />
<br />
<div class="card mb-3">
    <h3 class="card-header">Nieuwe voorstelling</h3>
    <div class="card-body">
        <h5 class="card-title">'Vrouwen op hun best in de far-west'</h5>
        <h6 class="card-subtitle text-muted">Auteur: Luc Ooms</h6>
    </div>
    <center><img style="height: 100%; width: 100%;" src="http://www.hojapa.be/producties/vrouwenophunbestindefarwest.jpg" alt="Card image"></center>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Vrijdag 30 maart 2018</li>
        <li class="list-group-item">Zaterdag 31 maart - 15u</li>
        <li class="list-group-item">Zaterdag 31 maart - 20u</li>
    </ul>
    <div class="card-body">
        <a href="/ReservatieForms/Index" class="card-link"> Klik hier om ONLINE te reserveren </a>
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>